:root {
  font-size: 10px;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-family: "eurostile-extended", sans-serif;
  font-family: "europa", sans-serif;
}

.App {
  max-width: 100vw;
  min-width: 100vw;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

.landing {
  min-height: 100vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #f0f0f0;
  position: relative;
}

.Header {
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  background: #f6f6f6;
}

.Header .burger {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  width: 45px;
  height: 40px;
  position: absolute;
  right: 0px;
  top: 5vh;
  padding: 4px 0px;
  cursor: pointer;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  border-radius: 5px;
  border: 1px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Header .burger div {
  width: 80%;
  background: #414141;
  height: 5px;
  border-radius: 25px;
  position: relative;
}

.Header .burger div div {
  position: absolute;
}

.Header .burger div div:nth-child(1) {
  width: 100%;
  top: -10px;
}

.Header .burger div div:nth-child(2) {
  width: 100%;
  top: 10px;
}

@media all and (min-width: 500px) {
  .Header .burger {
    display: none;
  }
}

.Header .burger-open div {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.Header .burger-close div {
  background: transparent;
}

.Header .burger-close div div {
  background: #202020;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.Header .burger-close div div:nth-child(1) {
  -webkit-transform: rotateZ(-225deg);
          transform: rotateZ(-225deg);
  top: 0px;
}

.Header .burger-close div div:nth-child(2) {
  -webkit-transform: rotateZ(225deg);
          transform: rotateZ(225deg);
  top: 0px;
}

.Header .headertext {
  margin-left: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Header .headertext h1 {
  font-size: 4rem;
  font-family: "Lobster", cursive;
  font-weight: 300;
}

.Header .Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  margin-right: 4%;
}

@media all and (max-width: 500px) {
  .Header .Container {
    display: none;
    position: fixed;
    top: 10vh;
    width: 100%;
    z-index: 10000;
    left: 0px;
  }
}

.Header .Container .Button {
  -webkit-transition: 0.3s color;
  transition: 0.3s color;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 2rem;
  cursor: pointer;
  position: relative;
  font-weight: 500;
  margin-left: 1vw;
  margin-right: 1vw;
}

.Header .Container .Button::after {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  bottom: -10px;
  left: auto;
  right: auto;
  content: "";
  position: absolute;
  width: 80%;
  height: 5px;
  opacity: 0%;
  border-radius: 25px;
  left: -30px;
  background: linear-gradient(12deg, hotpink, cyan);
}

.Header .Container .Button:hover {
  -webkit-transition: 0.3s color;
  transition: 0.3s color;
  color: #1d7fff;
}

.Header .Container .Button:hover::after {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  opacity: 100%;
  left: 10%;
}

.nametextbox {
  font-family: eurostile;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  top: 50%;
  left: 0px;
  right: 0px;
  z-index: 100;
  color: white;
  font-size: 5rem;
  margin: auto;
}

.socialcontainer {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socialcontainer .social {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  width: 80px;
  height: 80px;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 150;
  border-radius: 50%;
  position: relative;
  border: 8px solid gray;
  cursor: pointer;
  margin-left: 3vh;
  margin-right: 3vh;
}

.socialcontainer .social:hover {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  border: 8px solid white;
}

.socialcontainer .social:hover a img {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  height: 70%;
  width: 70%;
}

.socialcontainer .social a img {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  height: 50%;
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
/*# sourceMappingURL=style.css.map */